<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SubjectRegisterController</servlet-name>
        <servlet-class>controller.SubjectRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyRegisterServlet</servlet-name>
        <servlet-class>controller.MyRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRegisterSubjectServlet</servlet-name>
        <servlet-class>controller.DeleteRegisterSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PracticeListController</servlet-name>
        <servlet-class>controller.PracticeListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPracticeController</servlet-name>
        <servlet-class>controller.NewPracticeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectServlet</servlet-name>
        <servlet-class>controller.SubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonServlet</servlet-name>
        <servlet-class>controller.LessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogManagerController</servlet-name>
        <servlet-class>controller.BlogManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailManagerController</servlet-name>
        <servlet-class>controller.BlogDetailManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>controller.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectManagerController</servlet-name>
        <servlet-class>controller.SubjectManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewSubjectController</servlet-name>
        <servlet-class>controller.NewSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonManagerController</servlet-name>
        <servlet-class>controller.LessonManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectDetailExpertController</servlet-name>
        <servlet-class>controller.SubjectDetailExpertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDimensionController</servlet-name>
        <servlet-class>controller.EditDimensionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDimensionController</servlet-name>
        <servlet-class>controller.AddDimensionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDimensionController</servlet-name>
        <servlet-class>controller.DeleteDimensionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePackageStatus</servlet-name>
        <servlet-class>controller.ChangePackageStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubjectRegisterController</servlet-name>
        <url-pattern>/subjectRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyRegisterServlet</servlet-name>
        <url-pattern>/myRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRegisterSubjectServlet</servlet-name>
        <url-pattern>/deleteRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PracticeListController</servlet-name>
        <url-pattern>/practiceList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPracticeController</servlet-name>
        <url-pattern>/newPractice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectServlet</servlet-name>
        <url-pattern>/subjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonServlet</servlet-name>
        <url-pattern>/lessonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogManagerController</servlet-name>
        <url-pattern>/blogManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailManagerController</servlet-name>
        <url-pattern>/blogDetailManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectManagerController</servlet-name>
        <url-pattern>/subjectManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewSubjectController</servlet-name>
        <url-pattern>/newSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonManagerController</servlet-name>
        <url-pattern>/lessonManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectDetailExpertController</servlet-name>
        <url-pattern>/subjectDetailExpert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDimensionController</servlet-name>
        <url-pattern>/editDimension</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDimensionController</servlet-name>
        <url-pattern>/addDimension</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDimensionController</servlet-name>
        <url-pattern>/deleteDimension</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePackageStatus</servlet-name>
        <url-pattern>/changePackageStatus</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error</location>
    </error-page>
</web-app>
