<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SubjectRegisterController</servlet-name>
        <servlet-class>controller.SubjectRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyRegisterServlet</servlet-name>
        <servlet-class>controller.MyRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRegisterSubjectServlet</servlet-name>
        <servlet-class>controller.DeleteRegisterSubjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubjectRegisterController</servlet-name>
        <url-pattern>/subjectRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyRegisterServlet</servlet-name>
        <url-pattern>/myRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRegisterSubjectServlet</servlet-name>
        <url-pattern>/deleteRegister</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error</location>
    </error-page>
</web-app>
